<div 
	class="influencer" 
	data-influencer="{{ influencer.instagram }}" 
	style="
		--color: {{ influencer.color }};
		--x: {{ influencer.bubble.x }}%; 
		--y: {{ influencer.bubble.y }}%;
		--mx: {{ influencer.bubble.mx | default: influencer.bubble.x }}%; 
		--my: {{ influencer.bubble.my | default: influencer.bubble.y }}%; 
	"
>
	{% if influencer.arrow %}
		<div class="arrow {{ influencer.arrow.direction | default: 'right' | prepend: 'to-' }}" style="left: {{ influencer.arrow.x }}%; top: {{ influencer.arrow.y }}%;">
			{{ influencer.arrow.content }}
		</div>
	{% endif %}
	{% if influencer.polaroid %}
		<a href="{{ influencer.itinerary }}" class="polaroid" style="left: {{ influencer.polaroid.x }}%; top: {{ influencer.polaroid.y }}%;">
			<img 
				src="{{ influencer.polaroid.image | default: influencer.polaroid.image }}" 
				alt="{{ influencer.name }}'s image"
				style="transform: rotate({{ influencer.polaroid.rotation }}deg);"
			/>
		</a>
	{% endif %}
	<a href="{{ influencer.itinerary }}" class="bubble {{ influencer.bubble.origin }}">
		<div class="bubble-content">
			<div class="photo">
				<img src="{{ influencer.photo }}" alt="{{ influencer.name }}'s profile photo"/>
			</div>
			<div class="details">
				<div class="location">{{ influencer.location }}</div>
				<div class="name">{{ influencer.name }}</div>
				<div class="instagram">@{{ influencer.instagram }}</div>
				<div class="followers">{{ influencer.followers }} Followers</div>
			</div>
		</div>
		<div class="bubble-footer">
			<div class="itinerary">
				CLICK HERE FOR MY ITINERARY!
			</div>
		</div>
	</a>
</div>